.btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none!important; 
}

.dark-mode {
    color: white !important
}

/* sidebar settings */
.accordion-button:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none!important; 
}

.sidebar-course-list {
    list-style: none;
    margin: 0.5em;
    background-color: #f9f9f9;

}

.sidebar-course-list-active {
    list-style: none;
    margin: 0.5em;
    background-color: darkgray;
}

.sidebar-course-button {
    background-color: transparent;
    width: 100%;
}

.sidebar-border {
    border-right: 1px solid grey;
}

.bottom-button {
    position: absolute;
    bottom: 10%;
    left: 5%;

}

/* dashboard settings */
.assignment-list {
    list-style: none;
    margin: 1em;
}

.assignment-button {
    width: 100%;
    text-align: left !important;
}
 p {
     padding: 0% !important;
     margin: 0% !important;
 }

li {
    list-style: none;
}

table, td {
    padding: 2%;

}

.course-table {
    background-color:#f9f9f9 !important;
}
.accordion-body {
    color: black !important;
}

.accordion-item {
    padding-bottom: 10px !important;
}

table {
    width: 90%;
}